body {
  font-family: fantasy;
}

#main-text {
  font-size: 1.8rem;
  padding: 2rem;
  margin: 1rem;
  background-color: #eee;
  border-radius: 0.5rem;
}

#options {
  display: flex;
  margin: 1rem;
  gap: 2rem;
  align-content: space-around;
}

#options > div {
  width: 100%;
  font-size: 2rem;
  padding: 1.25rem;
  background-color: #eee;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: 200ms;
}

#options > div:hover {
  background-color: #006176;
  color: white;
}
